<link rel="stylesheet" href="/styles.css"  type="text/css"/>

<h2>Nuestros productos</h2>
<% for (const item of products) {%>
    <div>
        <h3><%= item.name %></h3>
        <p><%= item.description %></p>
        <p>Precio:
        <span>$<%= item.price %> AR / </span>
        <span>$<%= item.priceDolar.toFixed(2)%> USD</span></p>
        <button>Agregar al carrito</button>
    </div>
    <% } %>