<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="/styles.css"  type="text/css"/>

</head>
<body>

<% for (const items of messages) { %>
    <span style="color:blue"><strong><%= items.username %> dice:</strong></span>
    <span style="color:green"><i><%= items.text %></i></span>
    <span style="color:brown">[<%= items.time %>]</span>
<br>
<% } %>

<h2>Chat</h2>
<div id="divChat">
    <span id="chatBox">
    </span>

    <!-- <form action="/chat" method="post">
        <input type="text" name="username" id="username" placeholder="Ingrese su nombre"><br>
        <textarea name="text" id="text" placeholder="Ingrese su mensaje"></textarea><br>
        <input type="submit" id="btnSendChat" value="Enviar mensaje">
    </form> -->

    <form onsubmit="return addMsj(this)">
        <input type="text" name="username" id="username" placeholder="Ingrese su nombre"><br>
        <textarea name="text" id="text" placeholder="Ingrese su mensaje"></textarea><br>
        <input type="submit" id="btnSendChat" value="Enviar mensaje">
    </form>

</div> 

<script src="/socket.io/socket.io.js"></script>
<script src="./main.js"></script>
</body>
</html>