<link rel="stylesheet" href="/styles.css"  type="text/css"/>

<h1>Gracias por su compra!</h1>

<h2>Su orden es:</h2>
<% for (const item of cart[0].products){ %>
    <div>
        <h3><%= item.name %></h3>
        <p><%= item.description %></p>
        <p>Precio:<span>$<%= item.price %></span>
        <p>Cantidad:<span><%= item.quantity %></span>
    </div>
<% } %>