<h2>Carrito</h2>
<h2>Productos</h2>
<% for (const item of newCart) { %>
    <div>
        <h3><%= item.name %></h3>
        <p>$ <%= item.price %></p>
        <button>Eliminar del carrito</button>
    </div>
<% } %>
<button onclick="location.href='/cart-message'">Confirmar compra</button>