<h1>Desafío clase 36</h1>
<h2>Tercera Entrega del Proyecto Final</h2>

<h1>¡Bienvenido!</h1>
<button onclick="location.href='/logout'">Cerrar sesión</button>

<h2>Productos</h2>
<% for (const item of productos) { %>
    <div>
        <h3><%= item.name %> ($ <%= item.price %>)</h3>
        <p><%= item.description %></p>
        <button>Agregar al carrito</button>
    </div>
<% } %>