<h2>Inicie sesión</h2>
<form action="/login" method="post">
    <input type="text" name="userName" placeholder="Nombre" required><br>
    <input type="password" name="password" placeholder="Contraseña" required><br>
    <input type="submit" value="Enviar">
</form>
