<h2>Registrese aquí</h2>
<form action="/register" method="post">
    <input type="text" name="userName" placeholder="Nombre" required><br>
    <input type="number" name="age" placeholder="Edad"><br>
    <input type="mail" name="email" placeholder="Email" required><br>
    <input type="phone" name="phone" placeholder="Teléfono"><br>
    <input type="file" name="photo" placeholder="Foto"><br>
    <input type="password" name="password" placeholder="Contraseña" required><br>
    <input type="submit" value="Enviar">
</form>