<h2>Formulario</h2>
<form action="/products" method="post">
    <input type="text" name="name" placeholder="Nombre">
    <input type="number" name="price" placeholder="Precio">
    <button type="submit">Enviar</button>
</form>

