<link rel="stylesheet" href="/styles.css"  type="text/css"/>

<% for (const item of cart[0].products){ %>
<div>
    <h3><%= item.name %></h3>
    <p><%= item.description %></p>
    <p>Precio:<span>$<%= item.price %></span>
    <p>Cantidad:<span><%= item.quantity %></span>
    </div>
<% } %>

<button onclick="window.location.href='/orders'">Procesar compra</button>