<h2>Ingrese con su cuenta</h2>

<form action="/login" method="post">
    <input type="email" name="username" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Contraseña" required><br>
    <input type="submit" value="Enviar">
</form>

<button onclick="location.href='/register'">Si no tiene cuenta, registrese aquí</button>