<h2>Lista de productos</h2>
<div id="divProducts">
</div>

<form action="/products" method="post">
    <input type="text" name="name" placeholder="Ingrese el nombre de producto" required>
    <input type="number" name="price"  placeholder="Ingrese el precio del producto" required></input><br>
    <input type="submit" value="Enviar">
</form>