extends ./layout
block main
    if products
        table
            thead
                tr
                    th Nombre
                    th Precio
            tbody
                each product in products
                    tr
                        td= product.name
                        td= product.price
    else
        p No hay productos
    button
        a(href="/") Volver al inicio