extends ./layout
block main
    form(action="/products", method="post")
        input(type="text", name="name", placeholder="Nombre del producto")
        input(type="text", name="price", placeholder="Precio del producto")
        input(type="submit", value="Crear producto")
    button
        a(href="/products") Ir al listado
