<link rel="stylesheet" href="/styles.css"  type="text/css"/>

<h1 style="color: #9b2121;">Página no encontrada</h1>

<p style="font-size: 70px">:(</p>

<button onclick="location.href='/'">Volver al inicio</button>