<h2>Registrese para poder ingresar</h2>

<form action="/login" method="post">
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Contraseña" required><br>
    <input type="submit" value="Enviar">
</form>

<button onclick="location.href='/login'">Ingrese con su cuenta</button>