<h2>Centro de mensajes</h2>
<div id="divChat">
    <span id="chatBox">
    </span>
    <form  onsubmit="return addMsj(this)">
        <input type="text" id="username" placeholder="Nombre"  required><br>
        <input type="email" id="email" placeholder="E-mail" required><br>
        <input type="number" id="age" placeholder="Edad" required><br>
        <input type="text" id="alias" placeholder="Apodo" required><br>
        <textarea id="text" placeholder="Ingrese su mensaje aquí :)" required></textarea><br>
        <input type="submit" id="btnSendChat" value="Enviar">
    </form>
    
</div>

