<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Desafío clase N° 22</h1>

    <h2>Lista de productos</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
            <% for (const items of array) { %>
            <tr>
                <td><%=items.id%></td>
                <td><%=items.name%></td>
                <td><%=items.price%></td>
            </tr>
            <% } %>
        </table>
 

    <%-include ('./chat.ejs')%>


    <script src="/socket.io/socket.io.js"></script>
    <script src="./client.js"></script>
    <!-- <script scr="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script> -->
</body>
</html>