<h2>Lista de productos</h2>
<div id="divProducts">
</div>

<!-- <form onsubmit="return addProduct(this)"">
    <input type="text" id="productName" placeholder="Ingrese el nombre de producto" required>
    <input type="number" id="productPrice" placeholder="Ingrese el precio del producto" required></input><br>
    <input type="submit" id="btnSend" value="Enviar">
</form> -->

<!-- <form action="/products" method="post">
    <input type="text" name="name" placeholder="Ingrese el nombre de producto" required>
    <input type="number" name="price"  placeholder="Ingrese el precio del producto" required></input><br>
    <input type="submit" value="Enviar">
</form> -->
