<h1>Desafío clase 24</h1>
<h3>Formulario</h3>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Nombre" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Contraseña" required>
    <input type="submit" value="Enviar">
</form>